$header-color: #0077B5;
$text-color: rgb(132,132,132);
$craze-blue: rgb(52, 152, 219);

@import 'partials/variables';
@import 'partials/testimonials';
@import 'partials/contact';
// @import url('https://fonts.googleapis.com/css?family=Pacifico');

@media screen and (min-width: 600px) and (max-width: 759px) {
	
	header.row {
		div.col.second {
			span#cellphone-background {
				display: block !important;
				width: 81% !important;
			}
		}
	}	
}

@media screen and (min-width: 760px) {
	
	header.row {
		div.col.second {
			span#cellphone-background {
				display: block !important;
				width: 75% !important;
			}
		}
	}	
}

@media screen and (max-width: 400px) {
	
	header.row {
		height: 45vh !important;
		div.col.second {
			display: none !important;
		}
	}	
}

@media screen and (max-width: 599px) {
	
	header.row {
		div.col.second {
			display: none !important;
		}
	}	
}

body {
  
  header.row {
    
    background-image: url('../../images/header_background.png');
    background-size: cover;
    background-repeat: round;
    height: 60vh;
    margin: 0px;

    div.col.first {

    	position: inherit;
    	padding: 6%;
    	

    	#craze-logo {

	    	// font-family: 'Pacifico', cursive;
	    	font-family: $craze-logo-font;
		    font-size: 4.5em;
		    color: #FFF;
			text-align: left;
			text-shadow: 2px 3.464px 0px rgba(0, 1, 1, 0.25);
			padding: 0;
			margin-bottom: 10px;
	    }
	    
	    #craze-subtitle {

	    	padding:0;
	    	// font-family: 'HelveticaNeue';
	    	font-family: $craze-subtitle-logo-font;
	    	font-size: 1.2em;
			color: #FFF;
			line-height: 1.5;
	  		text-align: left;
	  		text-shadow: 2px 3.464px 0px rgba(0, 1, 1, 0.25);
	  		margin-bottom: 10px;
	    }

	    #device-availability {

	    	padding: 0;

	    	span.device-logo-background {
		    	display: inline-block;
			    font-size: 1.2em;
			    line-height: 37px;
			    color: #fff !important;
			    text-align: center;
			    white-space: nowrap;
			    vertical-align: baseline;
			    background-color: #000;
			    border-radius:50px;
			    position: relative;
			    height: 2.0em;
			    width: 2.0em;
			}
	    }
  	}

  	div.col.second span#cellphone-background{
    	background-image: url('../../images/header_background_hand.png');
    	background-size: contain;
    	background-repeat: no-repeat;
    	display: none;
		height: 78%;
	    width: 70%;
	    position: absolute;
	    right: 0;
	    bottom: 0;
    }

  }
  
}

.section-presentation {
	// margin-top: 50px;
}
section {
	padding: 3% 0%;
}

h2.section-title {
	font-family: myriad-pro, sans-serif;
	// font-family: "Myriad Pro";
	font-weight: 400;
	line-height: 1.0;
	text-align: center;
	// margin-bottom: 25px;
	padding: 10px;
}

p.section-description, .customer-report{
	font-family: helvetica-neue, sans-serif;
    line-height: 1.625;
    text-align: center;
    font-size: 16px;
    color: $text-color;
    font-weight: 300;
}

.left-align, {
	text-align: left !important;
}

.feature-logo {
	font-size: 50px;
    text-align: center;
    color: rgb(52, 152, 219);
}

.feature-title h2 {
	font-family: myriad-pro, sans-serif;
    font-size: 24px;
    text-align: center;
}

.gray-section{
	// background-color: rgb(231, 231, 231);
	background-color: $gray-section;
}

ul.bullet {
	// list-style-image: url('../../images/bullet.png');
	list-style-image: $list-bullet;
}


