@import 'partials/variables';
@import 'partials/common';
@import 'partials/header';
@import 'partials/about';
@import 'partials/testimonials';
@import 'partials/pricing_plans';
@import 'partials/contact';
@import 'partials/footer';