@media screen and (max-width: 570px) {
	
	#video-demo {

		iframe {

			height: 250px;
		}
	}	
}

@media screen and (max-width: 400px) {
	
	#video-demo {

		iframe {

			height: 220px;
		}
	}	
}

@media screen and (min-width: 768px) {
	
	#video-demo {

		padding-top: 3%;
	}	
}