.pricing-plan {

	background-color: transparent;
	text-align: center;
	padding: 5px;
	div {

		background-color: #fff;
	}

	.plan-title, .purchase {

		background-color: $default-blue;
		color: #fff;
		font-family: $section-title-font;
		font-weight: 400;
		line-height: 1.0;
		padding: 15px;

		h2 {

			margin: 0;
		}
	}

	.plan-price {

		font-weight: bold;

		span.dollar {

			font-size: 49px;
		}
		
		span.cent {

			font-size: 20px;
			position: relative;
    		top: -20px;
		}
	}

	.plan-features-list {

		padding: 0px 20px;
		// margin: 20px 0px;
		color: $text-color;

		.plan-feature {

			font-family: $feature-item-subtitle;
		    line-height: 1.625;
		    font-size: 16px;
		    font-weight: 300;
		    list-style: none;
		    border-top: 1px solid $text-color;
		    padding: 10px;
		}
	}

	button.purchase-btn {

	    font-weight: bold;
	    line-height: 1.2;
	    padding: 10px 20px;
	}
}