div#get-in-touch {

	position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;

    span.contact-media-logo {
		
		display: inline-block;
	    font-size: 1.2em;
	    line-height: 32px;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: baseline;
	    color: #fff !important;
	    background-color: $gray-section;
	    border-radius:50px;
	    position: relative;
	    height: 1.8em;
	    width: 1.8em;
	    margin: 0px 5px;
	    cursor: pointer;
	    
	    &:hover {
	    	background-color: $default-blue;
	    }

	    a {
	    	color: inherit;
	    }
    }
}