// COLORS

$default-blue: rgb(52, 152, 219);
$text-color: rgb(132,132,132);
$gray-section: rgb(231, 231, 231);

// IMAGES

$header-background: url('../../images/header_background.png');
$header-background-cellphone: url('../../images/header_background_hand.png');
$list-bullet: url('../../images/bullet.png');

// FONTS

@import url('https://fonts.googleapis.com/css?family=Pacifico');
$craze-logo-font: 'Pacifico', cursive;
$craze-subtitle-logo-font: 'HelveticaNeue';
$feature-item-subtitle: helvetica-neue, sans-serif;
$section-title-font: myriad-pro, sans-serif;