// COLORS

$default-blue: rgb(52, 152, 219);
$text-color: rgb(132,132,132);
$gray-section: rgb(231, 231, 231);

// IMAGES

// $header-background: ;
// $header-background-cellphone:
$list-bullet: url('../../images/bullet.png');

// FONTS

@import url('https://fonts.googleapis.com/css?family=Pacifico');
$craze-logo-font: 'Pacifico', cursive;
$craze-subtitle-logo-font: 'HelveticaNeue';